@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-head {
  min-height: 3rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  position: relative;
  z-index: 99;
}

.main-head h1 {
  text-align: center;
  max-width: 700px;
  font-weight: 500;
}

.main-head h3 {
  text-align: center;
  font-size: 20px;
  max-width: 890px;
  padding-top: 2rem;
  font-weight: 500;
  text-transform: none;
  line-height: 1.4;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
  min-height: 60%;
}

.logos {
  border: 2ox solid red;
  position: relative;
  margin: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  max-width: 35rem;
}

.lower-logo {
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  place-items: center;
  max-width: 100%;
}

.sports-logo {
  max-width: 6rem;
}

.form-container {
  max-width: 26rem;
  margin: 2rem auto;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.form-header {
  text-align: center;
  position: relative;
  z-index: 99;
  text-transform: uppercase;
  font-size: 2.7rem;
}

.form-text {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  padding: 1rem 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

input {
  height: 3rem;
  width: 100%;
  text-indent: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 0.9rem;
}

.email-btn-container {
  margin: 1rem auto 0 0;
  position: relative;
  width: 100%;
}

.email-btn {
  background-color: blue;
  color: white;
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  padding: 0.4em 1em;
  min-width: 5rem;
  height: 80%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.email-btn i {
  padding-left: 0.5rem;
}

.email-btn:hover {
  background-color: #1153e0;
  cursor: pointer;
}

.email-btn:active {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

.form-text-below {
  margin: 1.5rem 0 1rem 0;
}

footer {
  min-height: 5rem;
  width: 100%;
  border-top: 3px dotted #fff;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 15rem;
}

.footer-item p {
  padding-left: 0.5rem;
  min-width: 7rem;
  font-size: 15px;
}

svg {
  width: 8rem;
  height: 5rem;
  border: 4px solid grey;
  border-radius: 10px;
  padding: 0.5rem;
  color: #cacaca;
}

/* media quaries */
@media (max-width: 1000px) {
  .grid-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #lower-logo {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
  .form-container {
    max-width: 30rem !important;
    margin: 2rem auto;
  }
}

@media (max-width: 710px) {
  #lower-logo {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    top: 2rem;
  }
  .logo {
    max-width: 25rem;
  }
  .main-head h3 {
    margin: 1.5rem 0;
  }
  .form-container {
    max-width: 100% !important;
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
  }
  .form-header {
    padding-top: 1.5rem;
  }
  .form-text {
    margin: 1.5rem auto;
  }
}

@media (max-width: 425px) {
  .logo {
    max-width: 22rem;
  }
  .sports-logo {
    width: 5rem;
  }
  .lower-logo {
    gap: 1rem;
  }
}
