.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  min-height: 60%;
}
.logos {
  border: 2ox solid red;
  position: relative;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}
.logo {
  max-width: 35rem;
}
.lower-logo {
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  place-items: center;
  // padding: 1rem 1rem;
  max-width: 100%;
}
.sports-logo {
  max-width: 6rem;
}
