@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100%;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #121410;
  word-spacing: 2pt;
  line-height: 1.2;
  // background: url("../../assets/gameday-logo/bgimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
